<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show params | Simpler application</title>
  </head>
  <body>
    <p>Month: <%= @params[:month] %></p>
    <p>Day: <%= @params[:day] %></p>
    <p>Action: <%= @params[:action] %></p>
  </body>
</html>
